
<%=link_to "Create groups", new_group_path, style: "margin-top: 300px" %>


	

    <!-- END SIGMA IMPORTS -->
<div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  </style>
  <div id="graph-container"></div>
</div>
<script>
/**
 * This is a basic example on how to instanciate sigma. A random graph is
 * generated and stored in the "graph" variable, and then sigma is
 * instanciated directly with the graph.
 *
 * The simple instanciation of sigma is enough to make it render the graph
 * on the screen, since the graph is given directly to the constructor.
 */
// var i,
//     s,
//     N = 100,
//     E = 500,
//     g = {
//       nodes: [],
//       edges: []
//     };

// // Generate a random graph:
// for (i = 0; i < N; i++)
//   g.nodes.push({
//     id: 'n' + i,
//     label: 'Node ' + i,
//     x: Math.random(),
//     y: Math.random(),
//     size: Math.random(),
//     color: '#666'
//   });

// for (i = 0; i < E; i++)
//   g.edges.push({
//     id: 'e' + i,
//     source: 'n' + (Math.random() * N | 0),
//     target: 'n' + (Math.random() * N | 0),
//     size: Math.random(),
//     color: '#ccc'
//   });

graph_data = JSON.parse('<%= raw [@groups.to_json][0] %>')

// Instanciate sigma:
s = new sigma({
  graph: graph_data,
  container: 'graph-container'
});
</script>
