<% provide(:title, 'Group') %>
<%=link_to "Create groups", new_group_path, class: "btn btn-primary", style: "position: relative; z-index: 99; margin-bottom:20px" %>


<table class="table table-bordered">
  <th>Name</th>
  <th>Description</th>
  <th></th>
  <% @groups.each do |group| %>
    <tr>
    <%# binding.pry %>  
    <td><%= group.end_node.get_property(:name).try(:humanize) %> </td>
    <td><%= group.end_node.get_property(:description) %> </td>
    <td><%= link_to "Show", group_path(group.end_node.neo_id) %> </td>
    </tr> 
  <% end %>
</table> 




