<%= @user.full_name %>
<div class="clear">
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%= @user.full_name %>
      </h1>
    </section>
    <section>
      <%#= render 'shared/stats' %>
    </section>
  </aside>

  </div>