
<div class="clear">
<!-- <div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%#= @node.full_name %>
      </h1>
    </section>
    <section>
      <%#= render 'shared/stats' %>
    </section>
  </aside>

  </div>   -->

<%= render "shared/graph_template"%>
<%= render "shared/graph_script", parsed_data: @data_collections %>
 