  <div id="node_edge_attr" style="display:none">
  <h4>Node Attributes</h4>  
  <div id="show_node_attrs"></div>
  <!-- <h4>Relation</h4>   -->
  <!-- <div id="show_rel_node"></div> -->
 <!--  <h4>Edge Attributes</h4> 
  <div id="show_edge_attrs"></div> -->
</div>  
  

    <!-- END SIGMA IMPORTS -->
<div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;

    /*  max-width: 500px;
    height: 400px;
    margin: auto;*/
    }
  </style>
  <div id="graph-container"></div>
</div>