<div class="row">
  <div class="span6 offset3">
    <%= form_for( @group_type) do |f| %>
  	

       <%= select_tag "node_types", options_for_select(@node_types.map{|nt| [nt.field_name.try(:humanize), nt.id]}), multiple: true %>
      <%= submit_tag "Create group", class: "btn  btn-primary" %>
    <% end %>
  </div>
</div>